<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>e-education</title>
    <link rel="stylesheet" href="/design.css">
</head>
<body>
<main>
    <header id="header" class="header_elements">
        <div id="first_year"><a href="Licence1">Première année</a></div>
        <div id="second_year"><a href="Licence2">deuxième année</a></div>
        <div  id="sign_out"> <a href="/logout">déconnecter</a> </div>
        <div  id="profile"> <a href="/Profil">Mon compte</a> </div>

    </header>