<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>e-education</title>
    <link rel="stylesheet" href="/design.css">
</head>
<body>
<main>
    <header id="header" class="header_elements">
        <div id="first_year"><a href="">Première année</a></div>
        <div id="second_year"><a href="">deuxième année</a></div>
        <div id="register"><a href="/new_user.html">s'incrire</a></div>
        <div  id="login"><a href="/login.html">connecter</a></div>
        <div  id="sign_out">déconnecter</div>
    </header>
