{{> header}}
    <form action="/new_user" method="post">
        <p>
            <label for="firstname">Prénonom</label>
            <input id="firstname" type="text" name="firstName" placeholder="Prénom">
        </p>
        <p>
            <label for="lastname" >Nom</label>
            <input id="lastname" type="text" name="lastName" placeholder="Nom">
        </p>
        <p>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Email">
        </p>
        <p>
            <label for="password">Mot de passe</label>
            <input id="password" type="password" name="password" placeholder="Mot de passe">
        </p>
        <p>
            <label for="bottom"></label>
            <input id="bottom" type="submit" name="buttom" value="s'incrire">
        </p>
    </form>
{{> footer}}