{{> header}}
    <form>
        <p>
            <label for="firstname"></label>
            <input id="firstname" type="text" name="firstname">
        </p>
        <p>
            <label for="lastname" ></label>
            <input id="lastname" type="text" name="lastname">
        </p>
        <p>
            <label for="mail"></label>
            <input id="mail" type="email" name="mail">
        </p>
        <p>
            <label for="acces"></label>
            <input id="acces" type="password" name="acces">
        </p>
    </form>
{{> footer}}