<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier notre profil</title>
</head>
<body>
<p>Voudriez vous modifier voter profil</p>
<form action="/Profil" method="post">
    <p>
        <label for="firstName"></label>
        <input id="firstName" type="text" name="firstName" placeholder="Prénom">
    </p>
    <p>
        <label for="lastName" ></label>
        <input id="lastName" type="text" name="lastName" placeholder="Nom">
    </p>
    <p>
        <label for="email"></label>
        <input id="email" type="email" name="email" placeholder="email">
    </p>
    <p>
        <label for="password"></label>
        <input id="password" type="password" name="password" placeholder="Mot de passe">

        <label for="submit"></label>
        <input id="submit" type="submit" name="submit" placeholder="Modifier">
    </p>
</form>

</body>

</html>